// Bootstrap and its default variables

$theme-colors: ("primary": #1A1D24,
    "secondary":#100A61,
    "danger": #F95B34,
    "warning":#FFCA2C,
    "success":#157347,
    "info":#90CAF9,
    "light":#353b48,
    "dark":#000000
    );

@import "node_modules/bootstrap/scss/bootstrap";
@import "./pages/register.scss";


body {
    padding-top: 5rem;
    background-color: black;
}